!!!5
html
  head
    title #{title} - Bikes!
    link(rel='stylesheet', href='/assets/css/style.css')
    block scripts
      script(src='#{url_cdn}')
      script(src='#{url_socketio}/socket.io/socket.io.js')
      script(src='#{url_socketio}/assets/js/BikeSocket.js')
      script(src='#{url_socketio}/assets/js/BikeArena.js')
      script(src='#{url_socketio}/assets/js/init.js')
  body
    header
      h1 BikeSss!
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p node rocks.